{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class=create>
<h1 style="text-align=center">Create Vocab Card</h1>
<br>
<div class="row">
    <b>Redo image search</b>
    <br>
    <form id="image_search">
        <input type="text" id=image_query>
        <input type="submit" value="Submit">
    </form>
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <b>Images</b>
    <p class="text-muted my-2">Click on the images below to select them.<br>
        Click on any selected images to remove them.
    </p>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="gallery" style="text-align: center">
                    <div id="images_row" class="row">
                        {% for image in images %}
                            <div class="gallery-item-wrapper col-md-4">
                                <div class="gallery-item">
                                    <img class="img-responsive" src="{{ url_for('static', filename='tmp/images/' + image) }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="loader" class="row">
                        <button type="button" onclick="loadMoreImages()">Load more images...</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery-selected" style="text-align: center">
                    <p>Images to Use</p>
                </div>
            </div>
        </div>
    </div>

    {{ wtf.form_field(form.recording) }}

    <button type="button" onclick="playSound()" >Play Pronunciation</button>

    <br><br>

    {{ wtf.form_field(form.ipa) }}

    <b>Gender</b>

    {{ wtf.form_field(form.gender) }}

    {{ wtf.form_field(form.notes) }}

    {{ wtf.form_field(form.submit) }}
</form>
</div>
<script type="text/javascript">
    var offset = 0
</script>
{% endblock %}
